<form (ngSubmit)="submitForm()" class="container mt-5">
  <div class="mb-3">
    <label for="firstName" class="form-label">Primer Nombre:</label>
    <input type="text" id="firstName" [(ngModel)]="nuevoUsuario.firstName" name="firstName" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="secondName" class="form-label">Segundo Nombre:</label>
    <input type="text" id="secondName" [(ngModel)]="nuevoUsuario.secondName" name="secondName" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="firstLastName" class="form-label">Primer Apellido:</label>
    <input type="text" id="firstLastName" [(ngModel)]="nuevoUsuario.firstLastName" name="firstLastName" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="secondLastName" class="form-label">Segundo Apellido:</label>
    <input type="text" id="secondLastName" [(ngModel)]="nuevoUsuario.secondLastName" name="secondLastName" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" id="email" [(ngModel)]="nuevoUsuario.email" name="email" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">Nombre de Usuario:</label>
    <input type="text" id="username" [(ngModel)]="nuevoUsuario.username" name="username" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary mx-auto d-block">Actualizar Usuario</button>
  <br>
</form>

